.TodoItem {
  /* outline: 1px solid red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px 4px 60px;
  margin-bottom: 8px;
  cursor: pointer;
  background: #ffe000;
  border-radius: 3px;
  transition: all 100ms linear;
}

.TodoItem.isCompleted {
  opacity: 0.48;
}

.CheckMark {
  display: none;
  position: absolute;
  left: 12px;
  font-size: 24px;
  color: #bb32bb;
}

.isCompleted .CheckMark {
  display: block;
}

.Remove {
  margin: 0 8px;
  padding: 0;
  border: none;
  background: none;
  /* font-weight: bold; */
  color: blue;
}

.ColLeft {
  flex: 4;
}

.ColRight {
  flex: 1;
  text-align: right;
}

.isCompleted .ColLeft {
  text-decoration: line-through;
}
