.TodoItem {
  /* outline: 1px solid red; */
  /* width: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Checkbox {
  /* position: relative; */
  /* top: 2px; */
  /* width: 20px; */
  /* height: 20px; */
  margin-left: 3px;
  margin-right: 8px;
}

.Remove {
  margin: 0 8px;
  padding: 0;
  border: none;
  background: none;
  /* font-weight: bold; */
  color: blue;
}

.ColLeft {
  flex: 4;
}

.ColRight {
  flex: 1;
  text-align: right;
}